html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.Container {
  width: 350px;
  height: 350px;
  position: relative;
  margin: 10px auto;
}


.Calendar {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}

.SolutionView {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-size: 1rem;
  color: #666;
  width: 50px;
  height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.item.month {
  font-size: 0.875rem;
}

.item:hover {
  background: #ddd;
}

.item.selected {
  font-weight: bold;
  background: #ddd;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

.item.empty {
  background: transparent;
}

.Solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.SolutionItem {
  padding: 8px 16px;
  border-radius: 8px;
  margin: 4px;
  font-size: 14px;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  border: 2px solid transparent;
}

.SolutionItem.selected {
  border: 2px solid blue;
  box-sizing: border-box;
}

.TypeSwitch {
  display: inline-flex;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto 0;
  width: auto;
}

.TypeSwitchItem {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 8px 16px;
  background: #f0f0f0;
  cursor: pointer;
  color: #333;
}

.TypeSwitchItem:hover {
  background: #ddd;
}

.TypeSwitchItem.selected {
  background: #07f;
  color: #fff;
}